{
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.4.0"
        }
      }
    ]
  ]
}